= form_for @list do |f|
  - if @list.errors.any?
    .alert.alert-danger
      %p= pluralize(@list.errors.count, 'error') + 'prohibited this list from being saved'
      %ul
        - @list.errors.full_messages.each do |msg|
          %li= msg
  
  .form-group
    = f.label :title
    = f.text_field :title, :class => 'form-control'
  .form-group
    - if defined?(submitButtonTitle)
      = f.submit submitButtonTitle, :class => 'btn btn-primary'
    - else
      = f.submit 'Create', :class => 'btn btn-primary'