!!!
%html
  %head
    %title App
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
      .container
        .navbar-header
          %a.navbar-brand{href: "/"} Todos
        %ul.nav.navbar-nav.navbar-right
          - if !user_signed_in?
            %li
              = link_to "Sign in", new_user_session_path
            %li
              = link_to "Sign up", new_user_registration_path
          - else
            %li
              = link_to "Signed in as #{@user.email}", '#'
            %li
              = link_to "Sign out", destroy_user_session_path, :method => :delete
    .container
      - if !notice.nil?
        .alert.alert-success
          = notice
          %a.close{ :href => '#', 'data-dismiss' => 'alert' } &times;
      - if !alert.nil?
        .alert.alert-danger
          = alert
          %a.close{ :href => '#', 'data-dismiss' => 'alert' } &times;
          
    :coffeescript
      $(document).ready () ->
        $('.alert').alert()
        return
          
    - if @lists.nil?
      .container
        .col-lg-12
          = yield
    - else
      .container
        .col-lg-3
          %ul.nav.nav-pills.nav-stacked
            %li= link_to 'All Tasks', root_path
            - @lists.each do |l|
              %li
                %a{ :href => list_path(l), :class => 'menu-list menu-list-' + l.id.to_s }
                  %span= l.title
                  %span.label.label-primary= l.tasks.not_completed.count
            :coffeescript
              $(document).ready () ->
                $.each $('.menu-list .label'), () ->
                  self = $(this)
                  if self.html() == '0'
                    self.hide()
                  return
                return
            %li= link_to '+ New List', new_list_path
        .col-lg-6
          = yield
